<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SchoolDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=SchoolSystemDB;User ID=sa;Password=sa123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>